
<!DOCTYPE html>
<html>
<title>About Us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="aboutus.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>
{{!-- <section id="navmain"> --}}
      <nav>
          <ul class="menu">
            <li><a href="/welcome">Home</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/tuition">Tuition</a></li>
            <li><a href="/addques">Questions</a></li>
            <li><a href="/aboutus">About us</a></li>
            <a href="/"><button class="logout" type="submit" style="margin-top:9px; width:100px;
             height:30px; border: 0; background-color: #703379; font-size: 0.8em; color: white;border-radius: 2px;">
             LOGOUT</button></a>
          </ul>
      </nav>
    {{!-- </section> --}}


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:2000px;min-width:500px" id="home">
  <img class="w3-image" src="aboutus0.jpg" alt="image not found" width="1600" height="2000">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge" style="color: antiquewhite;">Whats in it for you?</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="aboutus.jpg" class="w3-round w3-image w3-opacity-min" alt="image not found" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Us</h1><br>
      <h5 class="w3-center">Initiated in 2021</h5>
      <p class="w3-large">This Portal is created by FAST University Students for the convenience of other students so they can ask there queries share and resources. lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  
  <hr>
  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large"><b>Student Portal, FAST-NUCES, Karachi, Pakistan</b></p>
    <p>You can also contact us by phone 00553123-2323 or email naz@gmail.com, or you can send us a message here.</p>
  </div>
  
<!-- End page content -->
</div>


</body>
</html>
